* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gotham', 'Roboto', sans-serif;
}


/*HEADER FIELD*/

#header {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

#icon-menu {
    margin-left: 20px;
}

#nav-menu {
    margin-left: 20px;
}

#nav-menu ul {
    width: 1200px;
}


#nav-menu li{
    width: 96px;
    height: 56px;

    display: inline;
    padding: 20px;
}

#nav-menu li a {
    color: rgb(31, 31, 31);
    font-weight: bold;
    text-decoration: none;
}

#nav-menu li a:hover {
    color: #000;
}

.login-header {
    position: relative;
    margin-left: 28.5%;
    font-weight: bold;
}

.login-header a {
    text-decoration: none;
    color: #8F23D6;
}


/*-------------------------------------------*/

/*MAIN CONTENT*/

#container {
    height: 900px;

    background-color: #ebebeb;

    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    width: 33%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row-content {
    width: 100%;
    height: 100%;
    padding: 20px; 

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/*TEXT FIELD ROW*/

.row-content .card-h1 {
    display: block;
    font-size: 20px;
    margin-bottom: 35px;
    margin-left: -168px;
}

.row-content .card-h2 {
    width: 400px;
    margin-left: 50px;
    font-size: 45px;
}



/*CPF FORM FIELD ROW*/

.row-content form {
    width: 300px;
    height: 300px;
    padding: 50px 10px 10px 45px;

    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.row-content form h3 {
    width: 282px;
}


.row-content form input {
    width: 250px;
    height: 40px;
    padding: 5px 5px 5px 5px;

    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: dotted 1px rgb(184, 183, 183);
    margin-bottom: 40px;
}


.row-content form button {
    width: 250px;
    height: 40px;

    outline: none;
    border: 1px solid #8F23D6;
    border-radius: 20px;

    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.row-content form button:hover {
    color: #fff;
    background-color: #8F23D6;
    opacity: 1;
    border: none;
}

/*MASTERCARD TEXT FIELD ROW*/

.row-content .mastercard-h2 {
    width: 300px;
    margin-bottom: 10px;
    margin-left: -40%;
    font-size: 45px;
}

.row-content .mastercard-span {
    width: 300px;
    display: inline-block;
    margin-left: -40%;
    font-size: 20px;
    font-weight: 500;
}

.row-content .mastercard-span a {
    color: #8F23D6;
    text-decoration: none;
}



/*FULL IMAGE ROW*/


.row-full-width {
    width: 100%;
    height: 100%;

    background-image: url('../images/giorgio-trovato-qlNNYxkKoDc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.row-full-width h2 {
    width: 400px;
    margin-top: -5%;
    margin-left: -70%;
    color: #fff;
    font-size: 45px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}





